.addshoppers input.network_select[type=checkbox] {
	display:none;
}

.addshoppers input.network_select[type=checkbox] + label {
	background: url('https://d3rr3d0n31t48m.cloudfront.net/widget/images/social_sprite_24.png?v=2') no-repeat;
	height: 24px;
	width: 24px;
	display:inline-block;
	padding: 0 0 0 0px;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.addshoppers input.network_select[type=checkbox]:checked + label{
	opacity: 1;
	filter: alpha(opacity=100);
}

.addshoppers input.network_select.google[type=checkbox] + label {
	background-position: -72px 0;
}
.addshoppers input.network_select.facebook[type=checkbox] + label {
	background-position: -48px 0;
}
.addshoppers input.network_select.twitter[type=checkbox] + label {
	background-position: -96px 0;
}
.addshoppers input.network_select.pinterest[type=checkbox] + label {
	background-position: -144px 0;
}
.addshoppers input.network_select.stumbleupon[type=checkbox] + label {
	background-position: -192px 0;
}
.addshoppers input.network_select.email[type=checkbox] + label {
	background-position: -24px 0;
}
.addshoppers input.network_select.tumblr[type=checkbox] + label {
	background-position: -216px 0;
}
.addshoppers input.network_select.wanelo[type=checkbox] + label {
	background-position: -312px 0;
}
.addshoppers input.network_select.polyvore[type=checkbox] + label {
	background-position: -168px 0;
}
.addshoppers input.network_select.kaboodle[type=checkbox] + label {
	background-position: -120px 0;
}